* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #33475b;
    line-height: 1.625;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 150px;
}

.contenitore {
    width: 1080px;
    margin: 0 auto;
}

.clearfix::after {
    clear: both;
    display: table;
    content: '';
}


.background_page {
    width: 100%;
    background-color: #F5F8FA;
    margin: 0 auto;
}

#homepage {
    width: 100%;
    background-image: url("images/sfondosectionhomepage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    border-bottom: 3px solid #33475b;
}


#navbar_top {
    width: 100%;
    height: 75px;
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    position: fixed;
    z-index: 2;
}

#navbar_background {
    width: 60%;
    height: 75px;
    margin: auto;
}

#navbar_top_left {
    width: 50%;
    height: 75px;
    float: left;
    position: relative;
}

#navbar_top_left ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#navbar_top_left li {
  float: left;
}

#navbar_top_left li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

#navbar_top_left li a:hover {

}

#bordo {
    border-right: 2px solid #cbd6e2;
    padding-right: 20px;
}

#language::before {
    content: url("https://cdn2.hubspot.net/hubfs/53/Logos/language-switcher-icon.svg");
    display: inline-block;
    width: 1rem;
    font-size: 1.125rem;
    vertical-align: middle;
    margin-right: 0.625rem;
}

i {
    display: inline-block;
    position: relative;
    color: #7c98b6;
    font-size: 36px;
    line-height: 1;
    margin: 0 0.25rem 0 1rem;
}
/* Menu in alto a destra */
#navbar_top_right {
    width: 50%;
    height: 75px;
    float: right;
    position: relative;
}

#navbar_top_right ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}

#navbar_top_right li {
  float: left;
  padding: 5px;
}


#navbar_top_right input {
    cursor: pointer;
    background-color: transparent;
    background-position: 0.25rem center;
    text-align: left;
    border: 0;
    transition: max-width 0.3s ease-out;
    max-height: 2rem;
    min-height: 1rem;
    max-width: 0;
    padding: 0.25rem 0.5rem 0.25rem 1.75rem;
    background-image: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/_style-guide/sword-sprocket/search%20icon.png");
    background-repeat: no-repeat;
    background-size: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
}

.top_right {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.563rem 1rem;
    border: 1px solid;
    cursor: pointer;
    border-radius: .1875rem;
    text-decoration: none;
    line-height: 1.25;
}

#login {
    color: #ff7a59;
    background-color: #fff;
}

#get {
    background-color: #ff7a59;
    color: #fff;
}
/* Fine Menu in alto a destra */

#navbar_bottom {
    width: 60%;
    height: 75px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    z-index: 1;
}

#navbar_bottom_left {
    width: 40%;
    height: 75px;
    float: left;
    position: relative;
    line-height: 75%;
}

#navbar_bottom_right {
    width: 60%;
    height: 75px;
    float: right;
    position: relative;
    font-weight: 600;
}

#navbar_bottom_left img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 14px 10px;
}

#navbar_bottom_right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}


#navbar_bottom_right li {
  float: left;
}

#navbar_bottom_right li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}

#navbar_bottom_right li a:hover {

}

#container_section_homepage {
    width: 60%;
    margin: 0 auto;
}

#section_homepage {
    max-width: 430px;
    text-align: left;
    padding: 4rem 0 30rem;
}

#section_homepage h1 {
    font-size: 3.438rem;
    line-height: 1.1818;
    font-weight: 700;
}

#section_homepage p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#section_homepage a {
    font-size: 1rem;
    padding: 1.625rem 3rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff7a59;
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    border-radius: .1875rem;
    text-decoration: none;
}

.testo_piccolo {
    text-align: left;
    max-width: 14rem;
    font-weight: 500;
    color: #33475b;
    font-size: 0.75rem;
    line-height: 1.5;
}

#powerful {
    padding: 100px 0 50px;
}

.container_section_powerful {
    width: 60%;
    margin: 0 auto;
}

#section_powerful {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

#section_powerful img {
    max-width: 260px;
}

#section_powerful h2 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3125;
}



#sezione_prodotti {
    width: 100%;
    margin: 0 auto;
}
.container_products{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 7em;
    background-color: #F5F8FA;
    height: 900px;
}

.product_top {
    width: 100%;
    height: 283px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.product_top_image {
    width: 40%;
    float: left;
    height: 283px;
    padding: 0 9%;
}

.product_top_text {
    width: 60%;
    float: right;
    height: 283px;
}

.learn {
    padding-top: 20px;
    text-align: center;
}

.learn a {
    font-size: 0.875rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff7a59;
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    border: 0;
    border-radius: .1875rem;
    text-decoration: none;
}


.product_top_text h4{
    text-align: left;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3636;
    margin: 0.5em 0;
}

.product_top_text h4{
    text-align: left;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3636;
    margin: 0.5em 0;
}

.product_top_text p{
    text-align: left;
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.popular {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 13px;
}

.popular::after {
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid #e0e6ed;
    top: 4px;
    width: 100%;
}

.product_top_text ul{
    list-style: none;
}
.product_top_text li{
    float: left;
    font-size: 13px;
    font-weight: 500;
    margin-right: 20px;
}

.product_top_text li::before{
    content: '';
    background: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg") no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}

.product {
    width: 33%;
    height: 600px;
    float: left;
    margin: 0 auto;
    padding: 20px;
}

.product_one_top {

}

.product_one_top img{
    width: 100%;
    height: 150px;
}

.product_one_bottom {

}
.product_one_bottom h4{
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3636;
    margin: 0.5em 0;
}

.product_one_bottom p{
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 2em;
}

.product_one_bottom p:last-of-type {
    text-align: center;
    border-top: 1px solid #e0e6ed;
}

.bordo {
    border-bottom: : 1px solid #e0e6ed;
}
.product_one_bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.product_one_bottom li {
    margin-right: 20px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
}

.product_one_bottom li::before{
    content: '';
    background: url("https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg") no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}

.sezione_verde_back {
    width: 100%;
    background-color: #00B6AB;
}

.sezione_verde_dati {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 130px 0;
}

.sezione_verde_dati h2 {
    color: #fff;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3125
}

.sezione_verde_dati p {
    padding-top: 1rem;
    color: #fff;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}

.sezione_verde_blocchi {
    height: 400px;
    position: relative;
}

.divTable {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    text-align: center;
}

.divTable p{
    padding: 0;
}

.divTableCell{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
	padding: 20px;
    float: left;
    width: 285px;
    height: 150px;
}

.divTableCell img h2 p{
    text-align: center;
    display: inline-block;
}

.riga_due div{
    border-bottom: 0;
}

.divTableCell:nth-child(4n) {
    border-right: 0;
}

#sezione_clienti {
    width: 55%;
    padding-top: 100px;
    margin: 0 auto;
    height: 400px;
    position: relative;
}

.sezione_clienti_testo {
    width: 30%;
    height: 200px;
    float: left;
    padding: 20px 40px 20px 20px;
}

.sezione_clienti_testo h2{
    margin: 0 0 5px;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.3125;
}

.sezione_clienti_testo p{
    font-size: 1.2em;
    letter-spacing: 0.02em;
    margin-top: 0;
}

.sezione_clienti_logo {
    width: 60%;
    height: 200px;
    float: right;
    position: relative;
}

.tabella_logo {
	width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    text-align: center;
}

.tabella_logo_cella {
    float: left;
    width: 156.85px;
    height: 100px;
    text-align: center;
    position: relative;
    padding: 20px;
}

.tabella_logo_cella > img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    text-align: center;
}

#sezione_studi {
    width: 60%;
    padding: 100px 0;
    margin: 0 auto;
    height: 800px;
}

.sezione_studi_testo {
    width: 40%;
    float: left;
    height: 600px;
}

.sezione_studi_testo h2 {
    margin: 0 0 1.25rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3125;
}

.sezione_studi_testo p {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.sezione_studi_testo a {
    margin: 2rem 0 1.5rem;
    font-size: 1rem;
    padding: 1.625rem 3rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff7a59;
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    border: 0;
    border-radius: .1875rem;
    -webkit-transition: 0.15s color ease-out, 0.15s background-color ease-out, 0.15s border-color ease-out;
    transition: 0.15s color ease-out, 0.15s background-color ease-out, 0.15s border-color ease-out;
    text-decoration: none;
}

.sezione_studi_testo small {
    color: #516f90;
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: center;
    max-width: 525px;
    margin: 2em auto;
}

.sezione_studi_foto {
    width: 60%;
    height: 600px;
    float: right;
    text-align: right;
}
.sezione_studi_foto_immagine {
    width: 350px;
    height: 350px;
    margin: auto;
    display: inline-block;
}

.sezione_studi_foto_immagine img{
    max-width: 100%;
}

nav {
    height: 280px;
    margin: 0 auto;
    position: relative;
}

footer {
    background-color: #33475b;
    padding-top: 100px;
}

#footer_nav_menu {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align: left;
}

#footer_nav_menu li {
    display: inline;
    position: relative;
    float:left;
    padding-right: 110px;
}

#footer_nav_menu li a {
    display:block;
    text-decoration:none;
    width:200px;
    line-height:35px;

    font-weight: 500;
}

#footer_nav_menu li li a {
    color: #cbd6e2;
}

#footer_nav_menu ul {
    position:absolute;
    padding:0;
    left:0;
    display:none;
}

#footer_nav_menu li ul {
    display:block;
}

#footer_nav_menu li li ul {
    display:block;
    margin-left:200px;
    margin-top:-35px;
}

label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375;
    color: white;
}

#select_item a:first-of-type, a>i:first-of-type{
    color: white;
}

#contact_btn a:first-of-type {
    font-size: 12px;
    color: #33475b;
    background-color: #fff;
    cursor: pointer;
    line-height: 1.25;
    border: 0;
    border-radius: .1875rem;
    margin: 0.75rem 0;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 10px 30px;
}

.social_menu {
    width: 294px;
    float: right;
}

.social_menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
}
.social_menu li {
    float: left;
}

.social_menu li a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
      padding-right: 14px;
}

.social_menu li a:hover {

}

.socialmenu i {
    padding: 0;
}
